#m-43f07378-f493-45c0-93dc-2edeebd4b352 #m-43f07378-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#m-43f07378-f493-45c0-93dc-2edeebd4b352 #m-43f07378-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#m-43f07378-f493-45c0-93dc-2edeebd4b352 #m-43f07378-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#m-43f07378-f493-45c0-93dc-2edeebd4b352 #m-43f07378-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#m-43f07378-f493-45c0-93dc-2edeebd4b352 #m-43f07378-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#m-43f07378-f493-45c0-93dc-2edeebd4b352 #m-43f07378-Label_37 {
  -ms-transform: rotate(0.0deg);
}
#m-43f07378-f493-45c0-93dc-2edeebd4b352 #m-43f07378-Label_38 {
  -ms-transform: rotate(0.0deg);
}
#m-43f07378-f493-45c0-93dc-2edeebd4b352 #m-43f07378-Label_39 {
  -ms-transform: rotate(0.0deg);
}
#m-43f07378-f493-45c0-93dc-2edeebd4b352 #m-43f07378-Label_40 {
  -ms-transform: rotate(0.0deg);
}
#m-43f07378-f493-45c0-93dc-2edeebd4b352 #m-43f07378-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#m-43f07378-f493-45c0-93dc-2edeebd4b352 #m-43f07378-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#m-43f07378-f493-45c0-93dc-2edeebd4b352 #m-43f07378-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#m-43f07378-f493-45c0-93dc-2edeebd4b352 #m-43f07378-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#m-43f07378-f493-45c0-93dc-2edeebd4b352.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}