#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_37 {
  -ms-transform: rotate(0.0deg);
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_38 {
  -ms-transform: rotate(0.0deg);
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_39 {
  -ms-transform: rotate(0.0deg);
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_40 {
  -ms-transform: rotate(0.0deg);
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}