#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1020px;
  height: 98px;
  background-color: #6BCDFD;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Text_1 {
  position: absolute;
  top: 23px;
  left: 12px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.5pt;
  font-family: 'Arial',Arial;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Image_1 {
  position: absolute;
  top: 169px;
  left: 0px;
  width: 1024px;
  height: 599px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Rectangle_2 {
  position: absolute;
  top: 101px;
  left: 0px;
  width: 1020px;
  height: 31px;
  background-color: #EFEFEF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Text_2 {
  position: absolute;
  top: 111px;
  left: 19px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_37 {
  position: absolute;
  top: 69px;
  left: 263px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_37 span {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_37 span#rtr-s-Label_37_0 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_38 {
  position: absolute;
  top: 69px;
  left: 351px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_38 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_38 span {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_38 span#rtr-s-Label_38_0 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_39 {
  position: absolute;
  top: 14px;
  left: 940px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_39 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_39 span {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_39 span#rtr-s-Label_39_0 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_40 {
  position: absolute;
  top: 69px;
  left: 426px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_40 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_40 span {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_40 span#rtr-s-Label_40_0 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Rectangle_3 {
  position: absolute;
  top: 85px;
  left: 422px;
  width: 93px;
  height: 3px;
  background-color: #FFFD38;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Rectangle_4 {
  position: absolute;
  top: 135px;
  left: 0px;
  width: 1020px;
  height: 31px;
  background-color: #EFEFEF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Group_1 {
  position: absolute;
  top: 142px;
  left: 28px;
  width: 177px;
  height: 21px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Group_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 84px;
  height: 21px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Radio_button_1 {
  position: absolute;
  top: 4px;
  left: 0px;
  box-shadow: none;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_3 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 77px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_3 span#rtr-s-Label_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_3 span#rtr-s-Label_3_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Group_4 {
  position: absolute;
  top: 0px;
  left: 93px;
  width: 84px;
  height: 21px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Radio_button_2 {
  position: absolute;
  top: 4px;
  left: 0px;
  box-shadow: none;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_4 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 77px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_4 span#rtr-s-Label_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}