#s-b3b2f20b-adcc-4c9e-b5c8-a48c344d426a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3b2f20b-adcc-4c9e-b5c8-a48c344d426a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3b2f20b-adcc-4c9e-b5c8-a48c344d426a #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3b2f20b-adcc-4c9e-b5c8-a48c344d426a #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3b2f20b-adcc-4c9e-b5c8-a48c344d426a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3b2f20b-adcc-4c9e-b5c8-a48c344d426a #s-Label_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3b2f20b-adcc-4c9e-b5c8-a48c344d426a #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3b2f20b-adcc-4c9e-b5c8-a48c344d426a #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3b2f20b-adcc-4c9e-b5c8-a48c344d426a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3b2f20b-adcc-4c9e-b5c8-a48c344d426a #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3b2f20b-adcc-4c9e-b5c8-a48c344d426a #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3b2f20b-adcc-4c9e-b5c8-a48c344d426a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}