#s-652df45b-85fc-42d8-babd-119314c84b6a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-652df45b-85fc-42d8-babd-119314c84b6a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-652df45b-85fc-42d8-babd-119314c84b6a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-652df45b-85fc-42d8-babd-119314c84b6a #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-652df45b-85fc-42d8-babd-119314c84b6a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-652df45b-85fc-42d8-babd-119314c84b6a #s-Label_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-652df45b-85fc-42d8-babd-119314c84b6a #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-652df45b-85fc-42d8-babd-119314c84b6a #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-652df45b-85fc-42d8-babd-119314c84b6a #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-652df45b-85fc-42d8-babd-119314c84b6a #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-652df45b-85fc-42d8-babd-119314c84b6a #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-652df45b-85fc-42d8-babd-119314c84b6a #s-Label_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-652df45b-85fc-42d8-babd-119314c84b6a #s-Label_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-652df45b-85fc-42d8-babd-119314c84b6a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}