#s-652df45b-85fc-42d8-babd-119314c84b6a #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-652df45b-85fc-42d8-babd-119314c84b6a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-652df45b-85fc-42d8-babd-119314c84b6a #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-652df45b-85fc-42d8-babd-119314c84b6a #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-652df45b-85fc-42d8-babd-119314c84b6a #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-652df45b-85fc-42d8-babd-119314c84b6a #s-Label_37 {
  -ms-transform: rotate(0.0deg);
}
#s-652df45b-85fc-42d8-babd-119314c84b6a #s-Label_38 {
  -ms-transform: rotate(0.0deg);
}
#s-652df45b-85fc-42d8-babd-119314c84b6a #s-Label_39 {
  -ms-transform: rotate(0.0deg);
}
#s-652df45b-85fc-42d8-babd-119314c84b6a #s-Label_40 {
  -ms-transform: rotate(0.0deg);
}
#s-652df45b-85fc-42d8-babd-119314c84b6a #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-652df45b-85fc-42d8-babd-119314c84b6a #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-652df45b-85fc-42d8-babd-119314c84b6a #s-Label_41 {
  -ms-transform: rotate(0.0deg);
}
#s-652df45b-85fc-42d8-babd-119314c84b6a #s-Label_42 {
  -ms-transform: rotate(0.0deg);
}
#s-652df45b-85fc-42d8-babd-119314c84b6a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}