#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc #s-Label_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6892e88d-b9b9-4ed2-beb0-d78693be7dfc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}