#s-b93f81d6-c887-422f-aa24-c9e473b58a2f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b93f81d6-c887-422f-aa24-c9e473b58a2f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b93f81d6-c887-422f-aa24-c9e473b58a2f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b93f81d6-c887-422f-aa24-c9e473b58a2f #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b93f81d6-c887-422f-aa24-c9e473b58a2f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b93f81d6-c887-422f-aa24-c9e473b58a2f #s-Label_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b93f81d6-c887-422f-aa24-c9e473b58a2f #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b93f81d6-c887-422f-aa24-c9e473b58a2f #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b93f81d6-c887-422f-aa24-c9e473b58a2f #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b93f81d6-c887-422f-aa24-c9e473b58a2f #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b93f81d6-c887-422f-aa24-c9e473b58a2f #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b93f81d6-c887-422f-aa24-c9e473b58a2f #s-Label_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b93f81d6-c887-422f-aa24-c9e473b58a2f #s-Label_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b93f81d6-c887-422f-aa24-c9e473b58a2f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}