.pInfoHeader{
	height:35px;
	color : black;
	font-weight : bold;
}
.properties {
	background-color:#59ABD2;
	color:#ffffff;
	margin-left : 10%;
}
.UserForm{
	background-color : #428daa; 
}
.botSide{
	border : 5px solid black;
	background-color : #428daa;
	padding-top: 5px;
	height:100%;
	width:100%;
}