.context-menu {
  position: absolute;
  display: none;
  background-color: #f2f2f2;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  min-width: 100px;
  border: 1px solid #d4d4d4;
  z-index:1200;
}

.context-menu ul {
  list-style-type: none;
  margin: 4px 0px;
  padding: 0px;
  cursor: default;
}

.context-menu ul li {
  padding: 4px 16px;
}

.context-menu ul li:hover {
  background-color: #4677f8;
  color: #fefefe;
}

rect:hover {
  fill: orange;
}

#orchestTooltip {
  position: absolute;
  width: 150px;
  height: auto;
  padding: 10px;
  background-color: #EcEcEc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: Futura;
  font-size: 11px;
  line-height: 20px;
}

.link {
  stroke: #aaa;
}

.node {
  pointer-events: all;
  stroke: none;
  stroke-width: 40px;
}
.selectedTab {
	color: #668cff;
	padding-bottom: 2px;
	border-bottom: 3px solid  #00F;
	cursor: default;
}
.unselectedTab {
	color: #668cff;
	padding-bottom: 2px;
	border-bottom: 0px solid  #FFF;
	cursor: pointer;
}
.unselectedTab:hover {
	color: #000099
}
.selectedTab:hover {
	color: #000099
}
.disabled {
	color: "#EEE"
}

.headLink {
	color: #668cff;
	cursor: pointer;
}
.headLink:hover {
	color: #000099
}